.topwallpaper
{
    width: 100%;
    height: 75px;
    background-color: #87CEFA;
}
.toplogo
{
    font-family: 'Jost', sans-serif;
    font-size:200%;
    color: white;
    text-align:left
}
.navbar-brand
{
    text-decoration:none;
}
.heading
{
    font-family:'Book Antiqua'; 
    font-size:200%;
    border-bottom-style:solid;
    border-color:gray;
}
.pwallpaper
{
    width: 200px;
    height: 200px;
    background-color: #32CD32;
    margin: 30px;
    float: left;
    
    
}

.text-uppercase
{
    font-family: 'Jost', sans-serif;
    font-size:120%;
    color: white;
    text-align:center
}
.dwallpaper
{
    width: 200px;
    height: 200px;
    background-color: red; 
    margin: 30px;
    float: left;
}

.bwallpaper
{
    width: 200px;
    height: 200px;
    background-color: #87CEFA; 
    margin: 30px;
    float: left;
}
