{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% for key,item in count_dict.items() %}
            <div class="col-lg-3 col-6">
                <div class="small-box  {{ loop.cycle('bg-info','bg-success','bg-danger','bg-warning') }}">
                    <div class="inner">
                        <h3>{{item}}</h3>
                        <p>{{key|title}}</p>
                    </div>
                    <div class="icon">
                        <i class="{{ loop.cycle('fas fa-procedures','fas fa-user-md','fas fa-user-injured','fas fa-syringe' ) }}"></i>
                    </div>
                    <a href="/{{key}}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>        


{% endblock %}

{% block additional_footer %}
<script type="text/javascript">
  
    $(function() {
        const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 4000
        });
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            var msg = '{{ message| capitalize }}'
            if (msg != ''){
                Toast.fire({
                    "type": 'success',
                    "title": msg
                });
            }
            {% endfor %}
        {% endif %}
        {% endwith %}
        

    });

</script>
{% endblock %}
 